@import url('https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



.mona-sans-thin {
    font-family: "Mona Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.mona-sans-light {
    font-family: "Mona Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.mona-sans-regular {
    font-family: "Mona Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.mona-sans-medium {
    font-family: "Mona Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.mona-sans-semibold {
    font-family: "Mona Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.mona-sans-bold {
    font-family: "Mona Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.mona-sans-extrabold {
    font-family: "Mona Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.mona-sans-black {
    font-family: "Mona Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}


.comment-box-bg{
    background-color: #F3F3F3;
}

.comment-input-container {
    padding-top: 0.75rem;
    background-color: #F3F3F3;
    padding-right: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1.25rem;
    border-radius: 0.5rem;
    border: 1px solid #A0A0A0; /* Add this line */
}

.horizontal-line-comment-input-box{
    border: 1px solid #e6e6e6;
}

.lower-comment-input-box-container{
    display: flex;
    margin-top: 0.75rem;
    flex-direction: row;
    justify-content: space-between;
}

.warning{
    margin-top: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #EF4444;
}

.horizontal-line-between{
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border-color: #DDDDDD;
}

.loading-skeleton-container {
    margin-top: 1.25rem;
    margin-top: 1rem;
}

@keyframes pulse {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}

.loading-sub-skeleton {
    padding: 0.75rem;
    margin-top: 0.5rem;
    border-radius: 0.5rem;
    border-width: 1px;
    border-color: #DDDDDD;
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.loading-1-container{
    display: flex;
    margin-left: 0.75rem;
    margin-left: 0.875rem;
    align-items: center;
}

.comments-main-title{
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: #414141;
}
.comment-submit-button{
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.5rem;
    color: #ffffff;
    cursor: pointer;
    background: #6C0E82;
}

.name-field-comment-input-box{
    width: 100%;
    font-family: "Mona Sans", sans-serif;
    font-weight: 500; /* mona-sans-medium */
    color: #676767;
    font-size: 0.875rem; /* text-sm */
    outline: none;
    box-shadow: none; /* Removes focus ring */
    border-color: transparent; /* Optional: usually used with border-width */
}


.comment-input-box{
    color: #676767;
    font-size: 1rem; /* assuming text-md is 1rem */
    outline: none;
    box-shadow: none; /* focus:ring-0 */
    border-color: transparent; /* focus:border-transparent */
    width: 100%;
    margin-top: 0.75rem; /* mt-3 */
    min-height: 2.5rem; /* min-h-10 => 40px */

}


.comment-section-container{
    display: flex;
    padding: 1rem;
    flex-direction: column;
    justify-content: center;

}

.load-more{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 1rem;
    align-self: center;
    border-radius: 0.375rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #ffffff;
    cursor: pointer;
    background: #6C0E82;

}

.comment-box {
    border: 1px solid #DDDDDD;
    border-radius: 0.5rem;
    padding: 0.75rem;
    margin-top: 0.75rem;
    font-family: "Mona Sans", sans-serif;
    font-weight: 400;
}

.comment-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.comment-user-info {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.user-avatar {
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6C0E82;
    border-radius: 9999px;
    font-weight: 500;
    font-size: 1rem;
    color: white;
}

.comment-username {
    margin-left: 0.5rem;
    font-weight: 500;
    font-size: 1rem;
}

.comment-time {
    font-size: 0.875rem;
    transform: scale(0.75);
    color: #414141;
}

.comment-content {
    font-weight: 400;
    font-size: 0.875rem;
    margin-top: 0.5rem;
}

.cancel{

}

.comment-actions {
    display: flex;
    gap: 1rem;
    margin-top: 0.5rem;
    font-size: 0.875rem;
}

.reply-btn {
    cursor: pointer;
    font-weight: 600;
    color: #414141;
}

.toggle-replies-btn {
    cursor: pointer;
    font-weight: 600;
    color: #6C0E82;
}

.reply-box {
    padding: 0.75rem 0.75rem 0.75rem 1.25rem;
    margin-top: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid #A0A0A0;
    background-color: #F3F3F3;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.submit-btn {
    cursor: pointer;
    background-color: #6C0E82;
    border-radius: 0.5rem;
    color: white;
    padding: 0.25rem 1rem;
}

.comment-header-bar {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
}

.comment-count {
    display: flex;
    gap: 0.25rem;
    align-items: center;
}

.comment-badge {
    background-color: #6C0E82;
    transform: scale(0.9);
    font-size: 1.125rem;
    font-weight: 500;
    border-radius: 0.5rem;
    color: white;
    padding: 0 0.75rem;
}

.sort-select-container {
    position: relative;
    display: inline-block;
}

.sort-select {
    appearance: none;
    cursor: pointer;
    background-color: #F3F3F3;
    padding: 0.25rem 2.5rem 0.25rem 1rem;
    font-size: 0.875rem;
    font-weight: 500;
    border: 1px solid #DDDDDD;
    border-radius: 0.5rem;
    color: #414141;
}

.sort-select-icon {
    pointer-events: none;
    position: absolute;
    right: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
    color: #414141;
}

.mona-sans-thin {
  font-family: "Mona Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.mona-sans-light {
  font-family: "Mona Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.mona-sans-regular {
  font-family: "Mona Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.mona-sans-medium {
  font-family: "Mona Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.mona-sans-semibold {
  font-family: "Mona Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.mona-sans-bold {
  font-family: "Mona Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.mona-sans-extrabold {
  font-family: "Mona Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.mona-sans-black {
  font-family: "Mona Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0, 0%, 7%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}


.main-color-bg{
  background-color: #6C0E82;
}

.darkveil-canvas {
  width: 100%;
  height: 100%;
  display: block;
}

.gradient-bg{
  background: #111111;
  background: radial-gradient(circle,rgba(17, 17, 17, 1) 47%, rgb(33, 7, 37) 100%);

}